.App {
  text-align: center;
}



.App-link {
  color: #61dafb;
}

#menuClose {
  left: 5%;
}
#profile{
  margin:auto;
  padding:15px;
}
#profilePic{
  width:100%;
  height:auto;
  border-radius: 0%; 
  display:flex;
  position: relative;
  overflow: hidden;
  margin:auto;
}
#profileInfo{
  width:20%;
  height:100%;
  float:left;
  background-color: cadetblue;
  text-align: center;
  align-content: center;
}
#repoInfo{
  width:70%;
  float: right;
}
#searchField{

  /*margin-left: 25%;*/
  
}
#searchButton {
  margin-top: 2%;
  margin-left: 2px;
}

#searchBar {
  width: 50%;
  margin-left: 25%;
  margin-top:  5%;
}

@media (min-width: 960px) {
  #searchField {
    width: 500px;
}

}